* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

body {
  background: #ffffff;
}

img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0px auto;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  padding: 20px;
  color: #6f0af8;
}

#div-mom {
  display: block;
  align-items: center;
  width: 375px;
  height: 712px;
  opacity: 1;
  border-radius: 25px;
  border: 3px solid #772fd3;
  background: white;
  margin: 20px auto;
  padding: 15px auto;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 0px auto;
  width: 100px;
  height: 50px;
  top: 329px;
  left: 24px;
  border-radius: 40px;
  border:none;
  flex-direction: column;
  background: #6f0af8;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
  height: 44px;
  width: 130px;
}

#div-son {
  position: relative;
  background: #ffffff;
  width: 327px;
  height: 276px;
  border-radius: 40px;
  border-width: 1px;
  border: 3px solid #772fd3;
  margin: 15px auto 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  gap: 6px;
}

.seletor {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.seletor input,
.seletor select {
  display: border-box;
  width: 327px;
  height: 40px;
  top: 329px;
  left: 24px;
  border-radius: 40px;
  border: 2px solid #9f6ce0;
  margin: 0px 22px 15px 24px;
  padding-left: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  background: #ffffff;
  outline: none;
  cursor: pointer;
  color: #777777;
}

#margin-top1 {
  margin-left: 30px;
  margin-top: 0px;
}

.seletor label {
  margin-left: 30px;
}

#real,
#dolarimg {
  width: 55px;
  height: 55px;
}

#seta {
  width: 44px;
  height: 40px;
}
.paragrafo .convertedCurrencyName {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #777777;
  text-align: center;
  margin-left: 0px;
}
.ptoConvert,
.pConverted {
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
}
